.container {
  position: relative;
  width: 100%;
  max-width: 1115px;
  padding: 0 20px;
  margin: auto; 

  @include mq('tablet') {
    padding: 0 32px;
  }
  
  @include mq('tablet-max') {
    padding: 0 40px;
  }

  @include mq('laptop') {
    padding: 0 75px;
  }

  @include mq('desktop') {
    padding: 0 140px;
  }
}

.wrapper {
  display: flex;
}