.header{
  position: absolute;
  min-height: 55px;
  width: 100%;
}

.h1{
  color: #ffcc00;
  font-size: 51px;
  text-align: center;
  span{
    padding-left: 20px;
    font-size: 29px;
    color:#fff;
  }
}