//first-screen
.first{
  position: relative;
  height: 100vh;
  background: url(../img/backround.png) no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  .container{
    display: flex;
    justify-content: space-between;
  }
}
