$font-family-main: "Roboto-Regular", sans-serif,
"Times New Roman",
serif;


//SIZE
$font-size-main: 16px;
$font-size-h1: 40px;
$font-size-h2: 32px;
//COLORS
$black: #000;
$white: #fff;

$breakpoints: ("320": 320px, "768": 768px, "1280": 1280px, "1600": 1600px);
//width container
$max-width: 1115px;